.tabs {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
}

.tabs {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

