:root { 
  --black: #000000;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --light-gray-1: #f9f9f9;
  --light-text-color: #ffffff;
  --mine-shaft: #333333;
  --primary-color: #7bbbc2;
  --primary-text-color: #23a6f0;
  --second-text-color: #727272;
  --text-color: #252b42;
 
  --font-size-l: 20px;
  --font-size-m: 14px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.link {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.roboto-normal-ebony-clay-20px {
  color: var(--dark-background-color);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-ebony-clay-40px {
  color: var(--dark-background-color);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
